.header {
  width: 360px;
 
}
.body{
  width:100%;
  margin-left: 0px;
  position: fixed;
}
.page1{
  border: 1px solid #d0d9d4; padding-bottom: 10px; padding-top: 10px;
  border-bottom-left-radius: 50px;
  width: 360px;
}
.nav {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  width: auto;
}

.myLogo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.sideNav {
  margin-right: 24px;
}

.headline {
 border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  top: 2px;
  background-image: url(images/Header\ bg.png);
  background-repeat: no-repeat;
  margin-left: 0%;
  padding-left: 0%;
  position: static;
  
}
.textbox{
  display: flex;
  flex-direction: column;
}
.mediaIcons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  left: 24px;
  top: 470px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.connect {
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;

}

.aboutme {
  width: auto;
  height: auto;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  line-height: 0.9;
}

p {
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-bottom: 10px;
}
.softdev{
  height: auto;
}

.cards {
  display: grid;
  width: 360px;
}

.client {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin-left: -24px;
}

.lang {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-left: -15px;
}

.htm {
  width: 50px;
  height: 24px;
  left: 114px;
  top: 0;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

.cs {
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
}

.jvs {
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
}

.card3 h1 {
  margin-top: -20px;
  margin-bottom: -50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic {  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 24px;
  margin-bottom: 0px;
}

.stories {
  margin-top: 22px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 24px;
}

.cards p {
  margin-bottom: -60px;
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 30px;
}

.placeholder {
  margin-left: 24px;
  margin-bottom: -20px;
}

.myWork {
  display: grid;
  grid-column: auto;
  padding: 2px 2px;
  width: 100%;
}
.cards{
  display: flex;
  flex-direction: column;
}
.card1 {
  background-color: #ffffff;
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card2 {
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
}

.card3 {
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
}

.card4 {
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
}

.about2 ul {
  margin-left: 0;
}

button {
  width: 124px;
  height: 48px;
  left: 0;
  margin-left: 24px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: white;
}

button:disabled {
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

button:active {
  background: #2230D2;
  border-radius: 8px;
}

.button2 button {
  width: 155px;
}

.canopy {
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back {
  width: 88px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.yearr {
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.about-section {
  display: grid;
  grid-column: auto;
  width: 360px;
  height: auto;
 background-color: rgb(255, 255, 255);
}
.about{
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
}
.about2 {
 border: 1px solid #d0d9d4;  border-radius: 30px; padding-bottom: 10px; padding-top: 10px;
  margin-bottom: 10px;
}

.abtframework {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 15px;
  margin-right: -20px;
}

.framework {
  width: 76px;
  height: 20px;
  left: 2px;
  top: 10px;
  margin-left: -29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.abtskill {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 15px;
}

.skill {
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  margin-left: -24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.skillNav {
  margin-right: 24px;
}

.la {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 12px;
}

.langguage {
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.langnav {
  margin-right: 24px;
}

.ht {
  margin-top: 12px;
  margin-bottom: 12px;
}
h6{
  margin-bottom: 10px;
}