html {
  overflow: scroll;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* box-sizing: border-box; */
}

.nav {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.page1 {
  border: 1px solid #d0d9d4;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 50px;
}

.myLogo {
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.headline {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0%;
  padding-left: 0%;
}

.mediaIcons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  left: 24px;
  top: 470px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.connect {
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  margin-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.aboutme {
  width: 50%;
  height: auto;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  line-height: 0.9;
}

.cards {
  display: grid;
}

.client {
  display: flex;
  justify-content: space-evenly;
  margin-left: -25px;
}

.lang {
  display: flex;
  justify-content: space-evenly;
  margin-left: -15px;
}

.lan {
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
  top: 0;
}

.card3 h1 {
  margin-top: -20px;
  margin-bottom: -50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  margin-left: 24px;
  margin-bottom: 0;
}

.stories {
  margin-top: 22px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 24px;
}

.cards p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 30px;
}

.myWork {
  display: grid;
  grid-column: auto;
  padding: 2px 2px;
  width: 100vw;
}

.hv {
  border: 1px solid #d0d9d4;
  border-radius: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 124px;
  height: 48px;
  left: 0;
  margin-left: 24px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: white;
}

button:disabled {
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

button:active {
  background: #2230d2;
  border-radius: 8px;
}

.button2 button {
  width: 155px;
}

.cli {
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.abtframework {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-right: -20px;
}

.langguage {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.langnav {
  margin-right: 24px;
}

.ht {
  margin-top: 12px;
  margin-bottom: 12px;
}

h6 {
  margin-bottom: 10px;
}

.contactP {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-page {
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-sec {
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-page-titel {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.frm {
  height: 48px;
  background-color: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 16px;
}

.get-it-touch {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  align-self: flex-start;
  cursor: pointer;
}

#comment {
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

@media only screen and (max-width: 992px) {
  body {
    margin-left: 0;
    overflow-x: hidden;
    position: relative;
  }

  .myLogo {
    position: static;
    width: 76px;
    height: 20px;
    left: 12px;
    top: 10px;
    color: #6070ff;
  }

  .sideNav {
    margin-right: 24px;
  }

  .sideNav-links {
    display: none;
  }

  .headline {
    top: 2px;
    background-image: url(images/Header\ bg.png);
  }

  .textbox {
    display: flex;
    flex-direction: column;
  }

  p {
    width: 80%;
    height: 146px;
    left: 24px;
    top: 276px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-bottom: 10px;
  }

  .softdev {
    height: auto;
  }

  .client {
    width: 330px;
    margin-left: -24px;
  }

  .langydesk {
    display: none;
  }

  .client img {
    margin-bottom: 5px;
    width: 90%;
  }

  .lang {
    max-width: 30%;
    margin-left: -15px;
    min-width: 200px;
  }

  .langs {
    width: 100vw;
  }

  .cardtext {
    width: 350px;
    margin: 0;
    padding: 0;
  }

  .htm {
    width: 50px;
    height: 24px;
    left: 114px;
  }

  .cs {
    width: 45px;
    height: 24px;
    left: 61px;
    top: 0;
  }

  .jvs {
    width: 89px;
    height: 24px;
    left: 114px;
  }

  .card3 h1 {
    width: 70%;
  }

  .tonic {
    font-size: 32px;
    line-height: 44px;
  }

  .cards p {
    margin-bottom: -80px;
    width: 80%;
  }

  .placeholder {
    margin-left: 24px;
    margin-bottom: -20px;
    width: 90%;
  }

  .placeholder1 {
    display: none;
  }

  .about2 ul {
    margin-left: 0;
  }

  .cli {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .canopy {
    width: 55px;
    height: 16px;
    color: #344563;
  }

  .back {
    width: 88px;
    height: 16px;
    color: #7a869a;
  }

  .yearr {
    width: 29px;
    height: 16px;
    color: #7a869a;
  }

  .about-section {
    display: grid;
    grid-column: auto;
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
  }

  .about {
    border: 1px solid #d0d9d4;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .about2 {
    border: 1px solid #d0d9d4;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .la {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 12px;
  }

  .langguage {
    width: 30%;
    height: 20px;
    left: 12px;
    top: 10px;
    margin-left: 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .contactP {
    margin-left: 50px;
    margin-bottom: 10px;
  }

  .contact-page {
    background-image: url(images/Contact-me.png);
  }

  .contact-sec {
    background-image: url(images/contactsh.png);
    background-position: right top;
    background-size: 50%;
    width: 80%;
    height: 595px;
  }

  .frm {
    width: 327px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 24px;
  }

  #comment {
    width: 327px;
    height: 114px;
    border-radius: 8px;
  }

  .langsimg {
    width: 100%;
  }

  .a {
    display: flex;
    flex-direction: row;
    background: #f7f7f9;
  }

  .java2 {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 993px) {
  body {
    background: #e5e5e5;
  }

  .header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 72px;
    left: 0;
    top: 0;
    background-color: white;
    margin-left: 9px;
  }

  .nav {
    width: 100%;
    display: flex;
  }

  .placeholder {
    display: none;
    margin-left: 24px;
    margin-bottom: -20px;
    width: 90%;
  }

  .sideNav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 259px;
    height: 40px;
    top: 16px;
    margin-left: 60vw;
    margin-top: 0;
  }

  .hamburger {
    display: none;
  }

  .myLogo {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 143px;
    color: #6070ff;
  }

  .textbx {
    align-items: center;
    margin-top: 141px;
  }

  .headline {
    width: 100vw;
    height: 70vh;
    background-image: url(images/desktop-bg.png);
  }

  .page1 {
    background: #fff;
    width: 100vw;
  }

  .softdev {
    width: 60vw;
    height: 98px;
    margin-left: 10px;
  }

  .connect {
    margin-top: 10px;
  }

  .mediaIcons {
    margin-left: -60px;
  }

  .cards {
    width: 70vw;
    justify-content: space-around;
  }

  .hv {
    background-color: #fff;
    margin-top: 10px;
    display: flex;
  }

  .hv:hover {
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: white;
  }

  .myWork {
    justify-self: center;
    justify-content: center;
  }

  .card1 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .placeholder1 {
    margin: 24px;
  }

  .card2 {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .card3 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card4 {
    flex-direction: row-reverse;
    flex-shrink: inherit;
  }

  .client {
    width: 297px;
    height: 40px;
    left: 0;
    top: 58px;
  }

  .lang {
    width: 400px;
    height: 24px;
  }

  .langy {
    display: none;
  }

  .lan {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-right: 8px;
  }

  .htm {
    width: 53px;
    height: 24px;
    left: 0;
    padding: 4px 12px;
  }

  .rubi {
    width: 135px;
    height: 24px;
    left: 61px;
    padding: 4px 2px;
  }

  .cs {
    width: 45px;
    height: 24px;
    left: 61px;
    padding: 4px 12px;
  }

  .jvs {
    padding: 4px 12px;
    width: 89px;
    height: 24px;
  }

  .tonic {
    font-size: 40px;
    line-height: 52px;
  }

  .cli {
    height: 24px;
    font-size: 18px;
    line-height: 24px;
  }

  .canopy {
    width: 75px;
    font-weight: 600;
    color: #344563;
  }

  .back {
    width: 120px;
    font-weight: normal;
    color: #7a869a;
  }

  .yearr {
    width: 38px;
    font-weight: normal;
    color: #6b778c;
  }

  .cards p {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    height: 50px;
    left: 24px;
    top: 146px;
    width: 295px;
  }

  .button2 button {
    margin-left: 0;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 924px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d0d9d4;
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-content: center;
  }

  .la {
    display: flex;
    flex-direction: row;
    margin-left: -50px;
  }

  .langguage {
    height: 24px;
    left: 24px;
    right: 78px;
    top: calc(50% - 24px / 2);
    margin-left: 24px;
    width: 50vw;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .aboutp {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 65%;
    height: 102px;
    left: 0;
    top: 126px;
    margin-bottom: 75px;
    margin-left: 24px;
  }

  .aboutme2 {
    width: 40vh;
    height: 114px;
    left: 0;
    top: 0;
    margin-top: 142px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .about {
    left: 30px;
    position: relative;
  }

  .about2 {
    margin-top: 146px;
  }

  .mediaIcons2 {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    left: 24px;
    text-decoration: none;
    margin-left: -50px;
  }

  .langs {
    display: none;
  }

  .langsdesk {
    display: flex;
    flex-direction: row;
  }

  .java1 {
    margin-top: 12px;
  }

  .java2 {
    width: 98px;
    height: 24px;
    left: 12px;
    top: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 16px;
  }

  .javadesk {
    width: 122px;
    height: 120px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
  }

  .htmldesk {
    width: 122px;
    height: 120px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
  }

  .cssdesk {
    width: 122px;
    height: 120px;
    top: 12px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .contactP {
    width: 80%;
    height: 102px;
    align-content: center;
    align-self: center;
    margin-left: 150px;
  }

  .contact-page {
    background-image: url(./images/contactdeskt.png);
    margin-top: -250px;
    width: 100vw;
    height: 846px;
  }

  .contact-sec {
    background-image: url(./images/contactdeskbg.png);
  }

  .frm {
    width: 447px;
    border-radius: 2px;
    font-size: 17px;
    line-height: 20px;
  }

  #comment {
    width: 447px;
    height: 170px;
    border-radius: 2px;
  }

  .connect2 {
    width: 117px;
    height: 24px;
    left: 0;
    top: 0;
    margin-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 75px;
  }

  .contdet {
    margin-top: 142px;
  }

  .get-it-touch {
    align-self: center;
  }
}
